[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "deps/circularbuffer"]
	path = deps/circularbuffer
	url = https://github.com/vinitjames/circularbuffer.git
